# AWS API Gateway URL (Serverless deploy sonucunda ekranda çıkan URL)
VITE_API_URL=https://xxxxxxxx.execute-api.eu-central-1.amazonaws.com/dev

# AWS Cognito Tanımlamaları (AWS Console'dan veya deploy çıktısından alınacak)
VITE_USER_POOL_ID=eu-central-1_xxxxxxxxx
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# S3 Media Bucket (Görseller ve QR kodları için)
VITE_MEDIA_BUCKET_URL=https://<service-name>-media-dev.s3.eu-central-1.amazonaws.com
