# AWS API Gateway URL
EXPO_PUBLIC_API_URL=https://xxxxxxxx.execute-api.eu-central-1.amazonaws.com/dev

# AWS Cognito Tanımlamaları
EXPO_PUBLIC_USER_POOL_ID=eu-central-1_xxxxxxxxx
EXPO_PUBLIC_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
